@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Happy+Monkey&family=Roboto&display=swap');
 

*,*:before, *:after  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
body{
  min-height: 100vh;
  position: relative;
}

.container{
  min-height: 100vh;
}

.containerDetails{
  display: flex;
  justify-content: center;
}

.form{
  margin-bottom: 20px;
}

.formCreateEdit{
  margin-bottom: 20px;
}

.navbar{
background-color: rgba(147, 65, 65, 0.651);
}

  .all{
    font-family: fantasy;
    color: black;
    padding: 10px;
    margin-top: 10px;
    }

  .card{
    border: 1px solid black;
  }

  .card-title{
    background-color: rgba(147, 65, 65, 0.651);
    padding: 3px;
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
  }

.card-body{
    display: flex;
    align-items: left;
    flex-direction: column;
    font-family: fantasy;
    background-color: rgb(255, 251, 252);
    font-size: 1.3rem;
}

.adopt{
    background-color: rgba(39, 38, 38, 0.509);
    color: aliceblue;
    border: solid black;
    padding: 5px 3px;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    cursor: pointer;
}

.adopt:hover{
  background-color: white;
  color: rgb(214, 142, 142);
  border: solid black;
}

.details{
    background-color: cadetblue;
    text-decoration: none;
    border: solid black;
    color: aliceblue;
    padding: 5px;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    cursor: pointer;
   }

.details:hover{
  background-color: white;
  color: cadetblue;
  border: solid black;
}

.edit{
    background-color: gold;
    border: solid black;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    border: solid black;
    color: black;
    padding: 5px;
}

.edit:hover{
  background-color: white;
  color: gold;
  border: solid black;
}

.delete{
    background-color: red;
    border: solid black;
    font-size: 1rem;
    width: 7em;
    border-radius: 1rem;
    cursor: pointer;
    text-decoration: none;
    border: solid black;
    color: aliceblue;
    padding: 5px;
}

.delete:hover{
  background-color: white;
  color: red;
  border: solid black;
}

.login{

    background-color: rgb(145, 145, 150);
    border: solid black;
    padding: 5px 3px;
    font-size: 1rem;
    color: aliceblue;
    width: 7em;
    border-radius: 1rem;
    cursor: pointer;
}

.register{
  background-color: rgb(61, 61, 67);
  border: solid black;
  color: aliceblue;
  padding: 5px 3px;
  font-size: 1rem;
  width: 7em;
  border-radius: 1rem;
  cursor: pointer;

}

footer{
  width: 100%;
  padding:10px 10px;
  background-color: black;
  margin-top: 10px;
  bottom: 0;
  }

footer p {
  color:aliceblue;
  text-align:center;
  margin-top: 4px;
  padding: 10px 10px;
}


footer a{
  text-decoration: none;
  margin-right: 10px;
  padding-right: 10px;
  color:aliceblue;
}

#links{
 text-align: center;
}

